[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim_markdown"]
	path = bundle/vim_markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim_rails"]
	path = bundle/vim_rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim_surround"]
	path = bundle/vim_surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim_textobj_rubyblock"]
	path = bundle/vim_textobj_rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim_textobj_user"]
	path = bundle/vim_textobj_user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim_vividchalk"]
	path = bundle/vim_vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/Rename"]
	path = bundle/Rename
	url = git://github.com/vim-scripts/Rename
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim
